.header {
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  width: 100vw;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 901;
  border-bottom: 1px solid #eee;
  margin: auto;
}

.container {
  margin: 12px 0 8px;
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 0;
  top: 1px;
  margin-top: 6px;
}
