.search {
  display: inline-block;
}

.input {
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px;
  width: 70px;

  transition: all 0.2s ease-in;

  &:focus {
    width: 125px;
    outline: none;
  }
}
