.title {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
  text-align: inherit;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

.h1 {
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}

.h3 {
  font-size: 2.4rem;
  line-height: 2.6rem;
}
