.footer {
  width: 100%;
  background-color: #ffffff;

  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  padding: 50px 0;
  display: flex;
}

.wrapper {
  padding: 0 60px;
  max-width: none;
  border-top: 1px solid #eee;
}

.block {
  width: 25%;
  padding-left: 30px;
  position: relative;
}

.logo {
  margin-left: 0 !important;
  margin-bottom: 20px;
}
