.navigation {
  margin-bottom: 30px;
  padding: 0;
}

.item {
  text-transform: none;
  font-size: 1.2rem;
  list-style: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 300;

  & a {
    color: #999;
    text-decoration: none;

    &:hover {
      color: #000000;
    }
  }
}

.title {
  font-size: 1.1rem;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.025rem;
}
