.block {
  display: flex;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;

  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}

.title {
  font-size: 1.1rem;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.025rem;
}
