.marker {
  background: #000;
  display: block;
  color: #fff;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 299;
  padding: 0.2rem 0.8rem;
}
