.btn {
  width: 3.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid #fff;
  height: 3.5rem;
  line-height: 3.5rem;
  color: #ffffff;
  padding: 0;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  transition: hover 0.3s ease;

  &:hover {
    background: #ffffff;
    color: #000000;
  }
}

.disabled {
  background-color: #999;
  cursor: default;
  position: relative;
  pointer-events: none;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: #ffffff;
    transform: rotate(-45deg);
  }
}
